
  .dashboard-card__container {
    display: block;
  }
  @media (min-width: 768px) {
    .dashboard-card__container {
      display: flex;
    }
  }
  
  .dashboard-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: solid 2px #1c4a45;
    border-radius: 4px;
    padding: 16px;
    width: 100%;
    margin: 0 0 15px 0;
  }
  @media (min-width: 768px) {
    .dashboard-card {
      display: block;
      margin: 15px;
    }
  }
  .dashboard-card > *:last-child {
    margin-bottom: 0;
  }
  .dashboard-card .dashboard-card__title {
    align-self: flex-start;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: #1c4a45;
    text-align: center;
    width: 30%;
  }
  @media (min-width: 768px) {
    .dashboard-card .dashboard-card__title {
      text-align: center;
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .dashboard-card .dashboard-card__detail {
    flex-grow: 1;
    text-align: left;
    padding-left: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #1c4a45;
    text-align: center;
  }
  @media (min-width: 768px) {
    .dashboard-card .dashboard-card__detail {
      padding-left: 0;
      text-align: center;
    }
  }
  .dashboard-card .dashboard-card__cta {
    width: 30%;
    font-size: 14px;
    text-align: right;
  }
  @media (min-width: 768px) {
    .dashboard-card .dashboard-card__cta {
      width: 100%;
      text-align: center;
    }
  }
  @media (min-width: 768px) {
    .dashboard-card.dashboard-card--sm {
      width: 22.5%;
    }
  }
  .dashboard-card.dashboard-card--form {
    display: block;
  }



  .sideMenu{
    background: #1c4a45;
    width: 100%;
    min-height: 700px;
    margin-top: -22.5px;
  }

  .menuHeader{
    margin-top: 10px;
    text-align: center;
    line-height: 60px;
    color: #ffffff;
  }
  .catList{
    list-style: none;
    margin-top: 20px;
  }
  .catList a{
    text-decoration: none;
    cursor: pointer;
  }
  .catList a:hover{
      text-decoration: none;
  }

  .catList li {
    font-size: 18px;
    line-height: 50px;
    margin: 15px 0;
    width: 80%;
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  .catList i{
    margin-right: 20px;
    color: #E3FC52;
  }

  .inactive{
    color: #ffffff;
  }
  .active{
    color: #E3FC52;
  }

  .inactive:hover{
    color: #ffffff;
  }
  .active:hover{
    color: #E3FC52;
  }

  .signOut{
      margin-top: 220px;
  }

  .signOutBtn{
    background: #E3FC52;
    border-radius: 28px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #325654;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    font-weight: 600;
    text-decoration: none;
}

.signOut a:hover{
    text-decoration: none;
}

.bar{
    display: none;
}

@media only screen and (max-width: 770px) {
    .sideMenu{
        display: none;
      }
    .sideMenu2{
      display: block;
      position: absolute;
    }
  }

