
  .dashboard-card__container {
    display: block;
  }
  @media (min-width: 768px) {
    .dashboard-card__container {
      display: flex;
    }
  }
  
  .dashboard-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: solid 2px #1c4a45;
    border-radius: 4px;
    padding: 16px;
    width: 100%;
    margin: 0 0 15px 0;
  }
  @media (min-width: 768px) {
    .dashboard-card {
      display: block;
      margin: 15px;
    }
  }
  .dashboard-card > *:last-child {
    margin-bottom: 0;
  }
  .dashboard-card .dashboard-card__title {
    align-self: flex-start;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: #1c4a45;
    text-align: center;
    width: 30%;
  }
  @media (min-width: 768px) {
    .dashboard-card .dashboard-card__title {
      text-align: center;
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .dashboard-card .dashboard-card__detail {
    flex-grow: 1;
    text-align: left;
    padding-left: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #1c4a45;
    text-align: center;
  }
  @media (min-width: 768px) {
    .dashboard-card .dashboard-card__detail {
      padding-left: 0;
      text-align: center;
    }
  }
  .dashboard-card .dashboard-card__cta {
    width: 30%;
    font-size: 14px;
    text-align: right;
  }
  @media (min-width: 768px) {
    .dashboard-card .dashboard-card__cta {
      width: 100%;
      text-align: center;
    }
  }
  @media (min-width: 768px) {
    .dashboard-card.dashboard-card--sm {
      width: 22.5%;
    }
  }
  .dashboard-card.dashboard-card--form {
    display: block;
  }